@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    /*
    font-family: 'Inter', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    */
}

body {
    background:  hsl(233, 47%, 7%);
}

img {
    max-width: 100%;
}


.image-hero-1 {
    display: none;
}

.wrap {
    position: relative;
}

.wrap::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 98.5%;
    width: 100%;
    background: rgba(93, 4, 148, 0.65);
    z-index: 999;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.container {
    margin: 50px 0;
}

.card {
    background: hsl(244, 38%, 16%);
    max-width: 90%;
    margin: 0 auto;
    width: 375px;
    border-radius: 0.5rem;
}

.image-hero {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background: rgb(132, 0, 255);
}

.hero{
    font-family: 'Inter', sans-serif;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.hero-header {
    color: #fff;
    padding: 30px 0;
}

.hero-details {
    color: hsla(0, 0%, 100%, 0.75);
    padding-bottom: 0px;
}

.hero-stats {
    color: #fff;
}

.hero-stats ul {
    list-style-type: none;
    padding: 1rem;
}

.hero-stats li {
    padding: 0.5rem;
}

.stats-header {
    font-weight: 700;
}

.stats {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 12px;
}


@media (min-width:1440px) {

    .image-hero {
        display: none;
    }

    .image-hero-1 {
        display: block;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }
    
    .container{
        margin: 0 auto;
        margin-top: 200px;
        max-width: 1440px;
    }

    img {
        max-width: 100%;
    }

    .wrap {
        position: relative;
    }
    
    .wrap::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(93, 4, 148, 0.65);
        z-index: 999;
        border-top-left-radius: 0rem;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;

    }

    .card {
        display: flex;
        flex-direction: row-reverse;
        max-width: 70%;
        width: 100%;
        margin: 0 auto;
    }

    .hero {
        justify-content: space-between;
        max-width: 40%;
        text-align: start;
        margin: 0 auto;
        margin-top: 50px;
    }

    .hero-stats {
        margin-top: 40px;
    }

    .hero-stats ul {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    .hero-stats ul li {
        padding: 0;
    }

    .stats-header {
        font-weight: 700;
    }
    
    .stats {
        color: hsla(0, 0%, 100%, 0.75);
        font-size: 10px;
        margin-top: 10px;
    }
}